<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<td layout:fragment="content">
    <table>
        <form th:action="@{|/create|}" th:object="${campingForm}" class="flex flex-col gap-7" method="post" id="campingForm" enctype="multipart/form-data" onsubmit="addSelectedIdToForm()">
            <tbody>
            <tr>
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -20px;">지역</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px; margin-left: 60px; display: flex; flex-wrap: wrap;">
                        <div style="margin-right: 20px;">
                            <input type="radio" id="1" name="local" value="1">
                            <label for="1">서울</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="2" name="local" value="2">
                            <label for="2">대전</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="3" name="local" value="3">
                            <label for="3">인천</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="4" name="local" value="4">
                            <label for="4">대구</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="5" name="local" value="5">
                            <label for="5">광주</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="6" name="local" value="6">
                            <label for="6">울산</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="7" name="local" value="7">
                            <label for="7">부산</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="8" name="local" value="8">
                            <label for="8">경기도</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="9" name="local" value="9">
                            <label for="9">충청도</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="10" name="local" value="10">
                            <label for="10">강원도</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="11" name="local" value="11">
                            <label for="11">경상도</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="12" name="local" value="12">
                            <label for="12">전라도</label>
                        </div>
                        <div style="margin-right: 20px;">
                            <input type="radio" id="13" name="local" value="13">
                            <label for="13">제주도</label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -20px;">캠핑장 이름</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <input type="text" name="campingName" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;" />
                        <p th:if="${#fields.hasErrors('campingName')}" th:errors="*{campingName}"></p>
                    </div>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -14px;">주소</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <input type="text" name="address" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;" />
                        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                    </div>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -16px;">금액</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <input type="number" name="amount" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;" />
                        <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
                    </div>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -20px;">수용가능 인원</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <input type="number" name="personnel" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;" />
                        <p th:if="${#fields.hasErrors('personnel')}" th:errors="*{personnel}"></p>
                    </div>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -20px;">부가 설명</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <textarea type="text" name="description" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;"> </textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="location-text left-aligned" style="margin-left: 30px; margin-top: -20px;">사진</p>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        <input type="file" name="photo" class="input input-bordered input-md flex-grow max-w-md h-20" style="width: 900px; margin-left: 60px;" />
                        <p th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
            <input type="submit" value="저장" class="btn">
        </form>
    </table>
</td>
</html>

<script>
    function getSelectedId() {
        var radios = document.getElementsByName('local');
        var selectedId;
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                selectedId = radios[i].value;
                break;
            }
        }
        return selectedId;
    }

    function addSelectedIdToForm() {
        var selectedId = getSelectedId();
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "localId");
        hiddenField.setAttribute("value", selectedId);
        document.getElementById('campingForm').appendChild(hiddenField);
    }
</script>
